* {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background-attachment: fixed;
    background-image: url(img/background.svg);
}

.body {
    font-family: 'Open Sans', sans-serif;
}

.screen-reader-only {
    font-size: 0px;
}

.section-header {
    font-family: 'Open Sans', sans-serif;
    color: #ec008c;
    text-transform: uppercase;
    text-align: right;
    font-size: 28px;
    font-weight: 600;
    margin-right: 30px;
    padding-top: 40px;
    letter-spacing: 4.5px;
    margin-top: 50px;
}

.content-section {
    min-height: 100vh;
    max-width: 100vw;
}

ul {
    list-style: none;
}

.menu {
    position: fixed;
    margin-top: 30px;
    margin-left: 30px;
}

.navigation {
    margin-top: 30px;
}


.navigation__item__font {
    color: #ec008c;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
    line-height: 1.6;
    font-size: 13px;
    letter-spacing: 6.7px;
    font-weight: 600;
    opacity: 0.7;
}

.footer {
    position: fixed;
    margin-bottom: 30px;
    margin-left: 30px;
    bottom: 0;
}


.media__image {
    opacity: 0.7;
    height: 25px;
    width: 25px;
    margin: 5px 0 5px 0;
}

/*sekcja home*/
.members {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-top: 19vh;
}

.members__name {
    font-family: 'Open Sans', sans-serif;
    color: #ccc8ff;
    text-transform: uppercase;
    margin-top: 40px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 3.8px;
}

.members__role {
    font-family: 'Open Sans', sans-serif;
    color: #ccc8ff;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 3.5px;
    opacity: 0.6;
    margin-top: 5px;
}

.members__image {
    opacity: 0.6;
}

/*sekcja about*/

.about__image {
    float: right;
    width: 45%;
    margin-right: 30px;
    margin-top: 30px;
    border-top: 3px #ec008c solid;
}

.about-section__content {
    width: 300px;
    padding: 40px;
    margin-top: 160px;
    margin-left: 340px;
    background: #25072e;
    border-bottom: 3px #ec008c solid;
    letter-spacing: 1.6px;
    opacity: 0.9999;
}

.about-section__content__title {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    background: #25072e;
    color: #ccc8ff;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 4.5px;
}

.about-section__content__text {
    font-family: 'Open Sans', sans-serif;
    color: #ccc8ff;
    background: #25072e;
    line-height: 18px;
    letter-spacing: 1.6px;
    font-size: 13px;
    font-weight: 100;
    opacity: 0.6;
}

/*Sekcja concerts*/
.concerts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 80vw;
    float: right;
}

.concerts__image {
    width: 23vw;
    margin: 10px 0;
    border-bottom: 3px #ec008c solid;
}

.concerts__item {
    flex-basis: 35%;
    padding: 15px;
}

.button-buy {
    float: right;
    margin-right: 64px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    background: rgb(204, 200, 255, 0.1);
    color: rgb(204, 200, 255, 0.8);
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.concerts__date {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #ccc8ff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 3.5px;
}

.concerts__location {
    font-family: 'Open Sans', sans-serif;
    color: #ccc8ff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 3.5px;
    opacity: 0.5;
}

.concerts span {
    float: left;
}

/*Sekcja video*/
iframe {
    float: right;
    border-top: 3px #ec008c solid;
    height: 75vh;
    width: 60vw;
    margin-right: 30px;
    margin-top: 30px;
}

/*Sekcja photos*/
.band-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 80vw;
    margin-left: 30vw;
    margin-right: 30px;
}

.band-photos__image {
    width: 100%;
    max-width: 300px;
    border-top: 3px #ec008c solid;
}

/*Sekcja contact*/
.contact-section {
    margin-left: 30vw;
}

.contact__image {
    width: 38vw;
    margin-bottom: 15px;
}

address {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: #ccc8ff;
    opacity: 0.8;
    font-size: 13px;
    letter-spacing: 1.6px;
    margin-right: 10vw;
    margin-top: 200px;
}

.form__input {
    border: none;
    outline: none;
    width: 250px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    background: rgb(204, 200, 255, 0.1);
    text-transform: none;
    margin-bottom: 15px;
    margin-top: 5px;
}

.form__label {
    font-family: 'Open Sans', sans-serif;
    color: #ccc8ff;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.6px;
    opacity: 0.8;
}

.button-contact {
    text-transform: uppercase;
    display: inline-block;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 400;
    color: #CCC8FF;
    letter-spacing: 1.6px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    background: rgb(204, 200, 255, 0.1);
    cursor: pointer;
    margin-bottom: 40px;
}

@media (max-width: 1024px) {
    .band-photos {
        justify-content: center;
    }

    .members {
        justify-content: center;
    }

    .concerts {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .band-photos__item {
        margin: 25px 0 0 0;
    }

    .concerts {
        justify-content: center;
    }

    .band-photos__image {
        max-width: 450px;
    }
}

@media (max-width: 320px) {
    .band-photos {
        justify-content: center;
    }

    .members {
        justify-content: center;
    }

    .concerts {
        justify-content: center;
    }
}


/*Dodane animacje do przycisków i zdjęć*/


.band-photos__image:hover {
    transition-duration: 1s;
    transform: scale(1.1);
}

.button-buy:hover {
    background-color: rgba(204, 200, 255, 0.5);
}

.button-buy:focus {
    background-color: rgba(204, 200, 255, 0.5);
    border: 1px solid #CCC8FF;
}

.button-buy:disabled {
    color: #CCC8FF;
    opacity: 0.1;
}

.button-contact:hover {
    background-color: rgba(204, 200, 255, 0.5);
}

.button-contact:focus {
    background-color: rgba(204, 200, 255, 0.5);
    border: 1px solid #CCC8FF;
}

.button-contact:disabled {
    color: #CCC8FF;
    opacity: 0.1;
}

.navigation__item__font:hover {
    opacity: 1;
}

.navigation__item__font:disabled {
    opacity: 0.4;
}

.navigation__item__font:active {
    opacity: 0.6;
}

.navigation__item__font:focus {
    opacity: 1;
}

.members__item:hover {
    opacity: 1;
}

.members__item:hover {
    opacity: 1;
}

.members__item:hover {
    opacity: 0.8;
}

.members__image:hover {
    opacity: 1;
}

.members__name:hover {
    opacity: 1;
}

.members__role:hover {
    opacity: 0.8;
}
