* {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.screen-reader-only {
    font-size: 0px;
}

.section-header {
    text-transform: uppercase;
    text-align: right;
}

.content-section {
    min-height: 100vh;
    border-bottom: 0.5px solid black;    /*tylko dla lepszej przejrzystości*/
}

ul {
    list-style: none;
}

.menu {
    position: fixed;
    margin: 20px 0 0 20px;
    letter-spacing: 6.7px;
    line-height: 1.6;
}

.navigation {
    margin-top: 20px;
}

.footer {
    position: fixed;
    margin-bottom: 20px;
    margin-left: 20px;
    bottom: 0;
}

/*sekcja home*/
.members {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-top: 19vh;
}

/*sekcja about*/
.about__image {
    float: right;
    width: 45vw;
}

.about-section__content {
    float: left;
    width: 300px;
    margin-top: 150px;
    margin-left: 200px;
}

/*Sekcja concerts*/
.concerts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 80vw;
    margin-left: 200px;
}

.concerts__image {
    width: 25vw;
    margin: 10px 0;
}

.concerts__item {
    flex-basis: 35%;
}

.button-buy {
    float: right;
    margin-right: 38px;

}

.concerts span {
    float: left;
}

/*Sekcja video*/
iframe {
    float: right;
    height: 75vh;
    width: 60vw;
}

/*Sekcja photos*/
.band-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 80vw;
    margin-left: 30vw;
}

.band-photos__image {
    width: 18vw;
    height: auto;
    margin: 5px;
}

/*Sekcja contact*/
.contact-section {
    margin-left: 30vw;
}

.contact__image {
    width: 40vw;
    margin-bottom: 30px;
}

address {
    float: right;
    margin-right: 10vw;
    margin-top: 200px;
}
